* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#md-container {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 10px;
}

#md-container details {
  display: block;
}

#md-container summary {
  display: list-item;
}

#md-container a {
  background-color: transparent;
}

#md-container a:active,
#md-container a:hover {
  outline-width: 0;
}

#md-container strong {
  font-weight: inherit;
  font-weight: bolder;
}

#md-container h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#md-container img {
  border-style: none;
}

#md-container code,
#md-container kbd,
#md-container pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

#md-container hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

#md-container input {
  font: inherit;
  margin: 0;
}

#md-container input {
  overflow: visible;
}

#md-container [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

#md-container input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#md-container a {
  color: #0366d6;
  text-decoration: none;
}

#md-container a:hover {
  text-decoration: underline;
}

#md-container strong {
  font-weight: 600;
}

#md-container hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

#md-container hr:before {
  content: "";
  display: table;
}

#md-container hr:after {
  clear: both;
  content: "";
  display: table;
}

#md-container table {
  border-collapse: collapse;
  border-spacing: 0;
}

#md-container td,
#md-container th {
  padding: 0;
}

#md-container details summary {
  cursor: pointer;
}

#md-container h1,
#md-container h2,
#md-container h3,
#md-container h4,
#md-container h5,
#md-container h6 {
  margin-bottom: 0;
  margin-top: 0;
}

#md-container h1 {
  font-size: 32px;
}

#md-container h1,
#md-container h2 {
  font-weight: 600;
}

#md-container h2 {
  font-size: 24px;
}

#md-container h3 {
  font-size: 20px;
}

#md-container h3,
#md-container h4 {
  font-weight: 600;
}

#md-container h4 {
  font-size: 16px;
}

#md-container h5 {
  font-size: 14px;
}

#md-container h5,
#md-container h6 {
  font-weight: 600;
}

#md-container h6 {
  font-size: 12px;
}

#md-container p {
  margin-bottom: 10px;
  margin-top: 0;
}

#md-container blockquote {
  margin: 0;
}

#md-container ol,
#md-container ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

#md-container ol ol,
#md-container ul ol {
  list-style-type: lower-roman;
}

#md-container ol ol ol,
#md-container ol ul ol,
#md-container ul ol ol,
#md-container ul ul ol {
  list-style-type: lower-alpha;
}

#md-container dd {
  margin-left: 0;
}

#md-container code,
#md-container pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 12px;
}

#md-container pre {
  margin-bottom: 0;
  margin-top: 0;
}

#md-container input::-webkit-inner-spin-button,
#md-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

#md-container:before {
  content: "";
  display: table;
}

#md-container:after {
  clear: both;
  content: "";
  display: table;
}

#md-container > :first-child {
  margin-top: 0 !important;
}

#md-container > :last-child {
  margin-bottom: 0 !important;
}

#md-container a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#md-container blockquote,
#md-container dl,
#md-container ol,
#md-container p,
#md-container pre,
#md-container table,
#md-container ul {
  margin-bottom: 16px;
  margin-top: 0;
}

#md-container hr {
  background-color: #e1e4e8;
  border: 0;
  height: 0.25em;
  margin: 24px 0;
  padding: 0;
}

#md-container blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

#md-container blockquote > :first-child {
  margin-top: 0;
}

#md-container blockquote > :last-child {
  margin-bottom: 0;
}

#md-container kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

#md-container h1,
#md-container h2,
#md-container h3,
#md-container h4,
#md-container h5,
#md-container h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

#md-container h1 {
  font-size: 2em;
}

#md-container h1,
#md-container h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

#md-container h2 {
  font-size: 1.5em;
}

#md-container h3 {
  font-size: 1.25em;
}

#md-container h4 {
  font-size: 1em;
}

#md-container h5 {
  font-size: 0.875em;
}

#md-container h6 {
  color: #6a737d;
  font-size: 0.85em;
}

#md-container ol,
#md-container ul {
  padding-left: 2em;
}

#md-container ol ol,
#md-container ol ul,
#md-container ul ol,
#md-container ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

#md-container li {
  word-wrap: break-all;
}

#md-container li > p {
  margin-top: 16px;
}

#md-container li + li {
  margin-top: 0.25em;
}

#md-container dl {
  padding: 0;
}

#md-container dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

#md-container dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

#md-container table {
  display: block;
  overflow: auto;
  width: 100%;
}

#md-container table th {
  font-weight: 600;
}

#md-container table td,
#md-container table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

#md-container table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

#md-container table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#md-container img {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
}

#md-container img[align="right"] {
  padding-left: 20px;
}

#md-container img[align="left"] {
  padding-right: 20px;
}

#md-container code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

#md-container pre {
  word-wrap: normal;
}

#md-container pre > code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

#md-container pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

#md-container pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

#md-container kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

#md-container hr {
  border-bottom-color: #eee;
}
